<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.ucenter.mapper.MemberMapper">
    <select id="getDailyRegisterRecord" resultType="java.lang.Integer">
        select count(*) from ucenter_member where date(gmt_create) = #{date}
    </select>
    <select id="getDailyLoginRecord" resultType="java.lang.Integer">
        select count(*) from ucenter_member where date(gmt_modified) = #{date}
    </select>
</mapper>
